/* Файл scaffolding.less */

body {
    min-width: 320px;
    margin: 0;
    background-color: #white;
    font-family: "Open Sans", "Arial", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 660px) {
    body {
        min-width: 660px;
    }
}

@media (min-width: 1200px) {
    body {
        min-width: 1200px;
    }

    .desktop-container {
        width: 944px;
        margin: 0 auto;
    }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Файл fonts.less */

@font-face {
    font-family: "Open Sans";
    src:
    url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src:
    url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src:
    url("../fonts/opensansbold.woff"),
    url("../fonts/opensansbold.woff2");
    font-weight: 700;
    font-style: normal;
}


/* Файл header-page.less */

.header-page__wrapper {
    width: 100%;
    height: 68px;
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;
}


.header-page__logo {
    display: inline-block;
    width: 75px;
    height: 22px;
    margin: 21px 20px;
    background-image: url(../img/logo-pink-white-mobile.svg);
    background-repeat: no-repeat;
}

@media (min-width: 660px) {
    .header-page__wrapper {
        height: 108px;
    }

    .header-page__logo {
        width: 147px;
        height: 40px;
        margin: 26px 20px 42px 20px;
        background-image: url(../img/logo-pink-white-tablet.svg);
    }
}

@media (min-width: 1200px) {
    .header-page {
        min-height: 110px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .header-page__container {
        display: flex;
    }

    .header-page__wrapper {
        width: 147px;
        height: 110px;
        margin-left: 2px;
        margin-right: 172px;
        border: none;
        background-color: transparent;
    }

    .header-page__logo {
        width: 147px;
        height: 40px;
        margin: 27px 0 43px 0;
    }
}


/* Файл main-nav.less */
.main-nav {
    width: 100%;
    position: relative;
}

.main-nav__toggle {
    position: absolute;
    right: 19px;
    top: -49px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;

    &--opened {
         width: 24px;
        height: 24px;
        background-image: url(../img/icon-menu-cross.svg);

        &:hover {
            background-image: url(../img/icon-menu-cross-hover.svg);
        }

        &:active {
            opacity: 0.3;
        }  
    }

    &--closed {
        width: 50px;
        height: 25px;
        background-image: url(../img/icon-menu-burger.svg);

        &:hover {
            background-image: url(../img/icon-menu-burger-hover.svg);
        }

        &:active {
            opacity: 0.3;
        }
    }
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__link {
    display: inline-block;
    width: 100%;
    height: 24px;
    padding: 19px 0;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;
}

.main-nav__link[href] {
    &:hover {
        color: #d22856;
    }

    &:active {
        color: rgba(210, 40, 86, 0.3);
    }
}


@media (min-width: 660px) {
    .main-nav__toggle {
        top: -65px;
    }
}

@media (min-width: 1200px) {
    .main-nav {
        width: 624px;
        height: 110px;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__list {
        display: flex;
        flex-wrap: wrap;
    }

    .main-nav__item {
        margin: 45px 80px 45px 0;
    }

    .main-nav__item:last-child {
        margin-right: 0;
    }

    .main-nav__link {
        width: auto;
        padding: 0;
        font-weight: 400;
        line-height: 18px;
        text-transform: capitalize;
        background-color: transparent;
        border: none;
    }
}

/* Файл download.less */

.download {
    position: relative;
    min-height: 667px;
    background-color: #1d2631;
    background-image: url(../img/bg-back-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center -66px;

    &::after{
        position: absolute;
        content: "";
        width: 258px;
        height: 286px;
        background-image: url(../img/iphone-hand-mobile@1x.png);
        background-repeat: no-repeat;
    }
}

@media (max-width: 659px) {
    .download {
        background-size: auto 462px;

        &::after {
            top: 110px;
            left: 0;
        }
    }

    .download__title {
        display: none;
    }

    .download__app {
        margin: 28px auto;
        width: 274px;
    }
}

.download__wrapper {
    padding-top: 396px;
}

.download__link-app {
    display: inline-block;
    width: 274px;
    height: 49px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 49px;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 27px;
    margin-bottom: 20px;

    &:hover {
        color: #d22856;
        background-color: white;
    }

    &:active {
        color: rgba(210, 40, 86, 0.3);
    }
}

.download__list {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    min-height: 57px;
}

.download__link {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 57px;
    font-size: 0;

    &--apple {
        margin-left: 38px;
        margin-right: 34px;

        &::after {
            position: absolute;
            content: "";
            width: 47px;
            height: 57px;
            top: 0;
            left: 0;
            background-image: url(../img/logo-apple.svg);
            background-repeat: no-repeat;
        }
    }

    &--android {
        margin-right: 33px;

        &::after {
            position: absolute;
            content: "";
            width: 43px;
            height: 48px;
            top: 8px;
            left: 0;
            background-image: url(../img/logo-android.svg);
            background-repeat: no-repeat;
        }
    }

    &--windows::after {
        position: absolute;
        content: "";
        width: 44px;
        height: 42px;
        top: 12px;
        left: 0;
        background-image: url(../img/logo-microsoft.svg);
        background-repeat: no-repeat;
    }
}

.download__text {
    padding-top: 3px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

@media (min-width: 660px) {
    .download {
        min-height: 619px;
        background-image: url(../img/bg-back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: auto 729px;
        background-position: center -110px;

        &::after {
            width: 480px;
            height: 545px;
            bottom: 0;
            right: 15px;
            background-image: url(../img/iphone-hand-tablet@1x.png);
            background-repeat: no-repeat;
            z-index: 2;
        }
    }

    .download__wrapper {
        padding-top: 50px;
        padding-left: 20px;
        position: absolute;
        width: 300px;
        z-index: 10;
    }

    .download__title {
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        padding: 0 50px;
        margin-bottom: 28px;
    }

    .download__app {
        width: 300px;
    }

    .download__link-app {
        width: 294px;
        margin-bottom: 30px;
    }

    .download__link--apple {
        margin-left: 46px;
    }

    .download__text {
        padding-top: 3px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1200px) {
    .download {
        min-height: 743px;
        background-image: url(../img/bg-back-desktop.jpg);
        background-repeat: no-repeat;
        background-size: auto 853px;
        background-position: center -110px;

        &::after {
            width: 565px;
            height: 645px;
            left: 43%;
            background-image: url(../img/iphone-hand-desktop@1x.png);
            background-repeat: no-repeat;
        }
    }

    .download__wrapper {
        padding-top: 60px;
        padding-left: 0;
    }

    .download__title {
        font-size: 50px;
        line-height: 59px;
        padding: 0 35px;
        margin-bottom: 50px;
    }

    .download__link-app {
        font-size: 21px;
        margin-bottom: 57px;
    }

    .download__text {
        margin-top: 50px;
    }
}

/* Файл advantages.less */

.advantages {
    margin-top: 38px;
}

.advantages__text {
    width: 220px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: black;
    text-align: center;
    margin: 25px auto;
}

.advantages__list {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 90px;
    list-style: none;
    background-color: #f2f2f2;
    //background-image: url(../img/bg-triangle-white.svg);
    //background-repeat: no-repeat;
    //background-size: 100% auto;
}

@media (max-width: 659px) {
    .advantages__list {
        min-height: 700px;

        &::after {
            position: absolute;
            content: "";
            width: 157px;
            height: 320px;
            bottom: 0px;
            left: 50%;
            margin-left: -78px;
            background-image: url(../img/iphone-screen-mobile@1x.png);
            background-position: 0 43px;
            background-repeat: no-repeat;
        }
    }

    .advantages__effect {
        display: none;
    }
}

.advantages__item-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.advantages__item-text {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 660px) {
    .advantages {
        margin-top: 48px;
    }

    .advantages__text {
        width: 600px;
        font-size: 40px;
        line-height: 48px;
        margin: 0 auto;
    }

    @media (max-width: 1199px) {
        .advantages__list {
            margin-top: 50px;
            min-height: 411px;
            padding-top: 70px;
            padding-left: 50%;

            &::after {
                position: absolute;
                content: "";
                width: 268px;
                height: 547px;
                top: -66px;
                right: 60%;
                margin-right: -25px;
                background-image: url(../img/iphone-screen-tablet.png);
                background-size: 100% auto;
                background-position: 0 66px;
                background-repeat: no-repeat;
            }
        }

        .advantages__item-title {
            text-align: left;
        }

        .advantages__item-text {
            width: 320px;
            text-align: left;
            margin: 0;
            margin-bottom: 33px;
        }
    }

    .advantages__effect {
        position: relative;
        width: 310px;
        min-height: 276px;
        margin: 60px auto;
        padding-left: 310px;

        &::after {
            position: absolute;
            content: "";
            width: 238px;
            height: 276px;
            top: 0;
            left: 0;
            background-image: url(../img/effect24.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .advantages__effect-title {
        font-weight: 700px;
        font-size: 30px;
        line-height: 38px;
        padding-top: 34px;
        margin-bottom: 0;
    }

    .advantages__effect-text {
        font-weight: 400px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 12px;
        padding-right: 10px;
    }

    .advantages__effect-link {
        font-weight: 400px;
        font-size: 14px;
        color: #d22856;
    }
}

@media (min-width: 1200px) {
    .advantages {
        margin-top: 68px;
    }
    
    .advantages__text {
        width: 800px;
        font-size: 50px;
        line-height: 60px;
    }

    .advantages__list {
        display: flex;
        margin: 0 auto;
        margin-top: 76px;
        padding: 0;
        padding-bottom: 35px;
        justify-content: center;
    }

    .advantages__item {
        position: relative;
        width: 294px;
        margin: 0 13px;
        padding-top: 356px;

        &--mood::after {
            position: absolute;
            content: "";
            width: 294px;
            height: 382px;
            top: -81px;
            left: 0;
            background-image: url(../img/iphone-screen-desktop-1.png);
            background-position: 0 81px;
            background-repeat: no-repeat;
        }

        &--change::after {
            position: absolute;
            content: "";
            width: 294px;
            height: 382px;
            top: -81px;
            left: 0;
            background-image: url(../img/iphone-screen-desktop-2.png);
            background-position: 0 81px;
            background-repeat: no-repeat;
        }

        &--friends::after {
            position: absolute;
            content: "";
            width: 294px;
            height: 382px;
            top: -81px;
            left: 0;
            background-image: url(../img/iphone-screen-desktop-3.png);
            background-position: 0 81px;
            background-repeat: no-repeat;
        }
    }

    .advantages__item-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 24px;
        padding: 0 30px;
    }

    .advantages__item-text {
        width: 244px;
        font-size: 18px;
        line-height: 30px;
        padding: 0 25px;
    }

    .advantages__wrapper {
        background-color: #f2f2f2;
    }

    .advantages__effect {
        margin: 0 auto;
        width: 575px;
        min-height: 345px;
        padding-left: 365px;
        padding-bottom: 67px;

        &::after {
            width: 298px;
            height: 345px;
        }
    }

    .advantages__effect-title {
        margin-top: 0;
        padding-top: 91px;
    }

    .advantages__effect-title br {
        display: none;
    }

    .advantages__effect-text {
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 33px;
    }

    .advantages__effect-text br {
        display: none;
    }

    .advantages__effect-link {
        font-size: 18px;
    }
}

/* Файл reviews.less */

.reviews {
    min-height: 352px;
}

.reviews__list {
    width: 280px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

@media (max-width: 659px) {
    .reviews__old {
        display: none;
    }

    .reviews__item {
        display: flex;
        flex-flow: column-reverse;
    }
}

.reviews__author {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.reviews__text {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.reviews__toggles {
    width: 72px;
    margin: 0 auto;
}

.reviews__radio {
    display: none;
}

.reviews__toggle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    background-color: #283645;
    border: 3px solid #ffffff;
    border-radius: 50%;
    opacity: 0.3;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.1;
    }
}

.reviews__radio:checked + .reviews__toggle {
    background-color: white;
    border: 3px solid #283645;
    opacity: 1;
}

@media (min-width: 660px) {
    .reviews {
        min-height: 305px;
    }

    .reviews__list {
        width: 620px;
    }

    .reviews__text {
        font-size: 18px;
        margin-top: 98px;
        margin-bottom: 35px;
    }

    .reviews__author {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .reviews__old {
        font-size: 14px;
        text-align: center;
        margin: 0;
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .reviews {
        min-height: 460px;
    }

    .reviews__list {
        width: 700px;
        padding-top: 88px;
    }

    .reviews__author {
        font-size: 24px;
        margin-bottom: 4px;
    }
    
    .reviews__old {
        font-size: 18px;
    }
    
    .reviews__toggle {
        display: none;
    }
}

/* Файл price.less */

.price {
    padding-top: 37px;
    background-color: #f2f2f2;
}

.price__table {
    width: 836px;
    margin: 0 auto;
    border-collapse: collapse;
}

.price__head-item {
    position: relative;
    width: 276px;
    height: 98px;
    padding: 0;
    background-color: #283645;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-right: 2px solid #e5e5e5;

    &:last-child {
        border-right: none;
    }

    &--hit::after {
        position: absolute;
        content: "";
        width: 74px;
        height: 73px;
        top: 0;
        left: 0;
        background-image: url(../img/bg-hit.svg);
        background-repeat: no-repeat;
        z-index: 2;
    }
}

.price__hit {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    top: 16px;
    left: 11px;
    transform: rotate(-45deg);
    z-index: 3;
}

.price__tariff-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.price__cost {
    margin-top: 4px;
    margin-bottom: 19px; 
    font-weight: 300;
    font-size: 24px;
}

.price__item {
    position: relative;
    width: 276px;
    height: 59px;
    padding: 0;
    background-color: white;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;

    &:last-child {
       border-right: 2px solid #e5e5e5; 
    }

    &--yes::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 21px;
        top: 20px;
        right: 17px;
        background-image: url(../img/icon-yes.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--no::after {
        position: absolute;
        content: "";
        width: 27px;
        height: 27px;
        top: 15px;
        right: 19px;
        background-image: url(../img/icon-no.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.price__text {
    padding-left: 22px;
    font-size: 14px;
    color: #283645;
    text-transform: uppercase;
}

@media (max-width: 659px) {

    .price__wrapper {
        width: 320px;
        margin: 0 auto;
        overflow: hidden;
    }

    .price__table {
        position: relative;
        width: 836px;
        left: -258px;
    }

    .price__head-cap,
    .price__name-item {
        display: none;
    }
}

.price__toggles {
    width: 72px;
    margin: 35px auto 0 auto;
    padding-bottom: 40px;
}

.price__radio {
    display: none;
}

.price__toggle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    background-color: #283645;
    border: 3px solid #ffffff;
    border-radius: 50%;
    opacity: 0.3;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.1;
    }
}

.price__radio:checked + .price__toggle {
    background-color: white;
    border: 3px solid #283645;
    opacity: 1;
}

@media (min-width: 660px) {

    .price {
        padding-bottom: 68px;
    }

    .price__table {
        width: 620px;
    }

    .price__head-item {
        width: 152px;
        height: 79px;
        @media (max-width:1199px) {
            &--hit::after {
                width: 61px;
                height: 61px;
                background-image: url(../img/bg-hit-tablet.svg);
            }
        }
    }

    @media (max-width: 1099px) {
        .price__hit {
            top: 9px;
            left: 6px;
        }

        .price__tariff-name {
            font-size: 16px;
            margin-bottom: 0;
        }

        .price__cost {
            margin-bottom: 13px;
            font-size: 18px;
        }
    }
    
    

    .price__head-cap {
        border-bottom: 2px solid #e5e5e5;
    }

    .price__name-item {
        width: 153px;
        height: 45px;
        padding: 0;
        background-color: white;
        border-bottom: 2px solid #e5e5e5;
        border-left: 2px solid #e5e5e5;
    }

    .price__name-text {
        margin: 0;
        padding-left: 15px;
        font-size: 14px;
        line-height: 45px;
        color: #283645;
    }

    .price__text {
        display: none;
    }

    .price__item {
        width: 152px;
        height: 45px;

        &--yes::after {
            top: 13px;
            right: 50%;
            margin-right: -15px;
        }

        &--no::after {
            top: 9px;
            right: 50%;
            margin-right: -14px;
        }
    }

    .price__toggles {
        display: none;
    }
}

@media (min-width: 1200px) {

    .price {
        padding-bottom: 95px;
        padding-top: 67px;
    }

    .price__table {
        width: 940px;
    }

    .price__head-item {
        width: 232px;
        height: 98px;
    
    }

    .price__name-item {
        width: 234px;
        height: 59px;
    }

    .price__name-text {
        margin: 0;
        padding-left: 24px;
        font-size: 18px;
        line-height: 59px;
        color: #283645;
    }

    .price__item {
        width: 233px;
        height: 59px;

        &--yes::after {
            top: 22px;
        }

        &--no::after {
            top: 16px;
        }
    }
}

/* Файл contacts.less */

.contacts {
    width: 320px;
    margin: 0 auto;
    padding-top: 44px;
}

.contacts__title {
    margin: 0 45px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 32px;
}

.contacts__item {
    width: 280px;
    margin: 0 auto;
}

.contacts__item-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.contacts__text {
    display: block;
    font-weight: 300;
    font-size: 24px;
    color: #d22856;
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.contacts__text--email:hover {
    color: #000000;
    text-decoration: underline;
}

.contacts__text--email:active {
    opacity: 0.3;
    text-decoration: none;
}

.contacts__map {
    position: relative;
    margin-top: 36px;

    &::after {
        position: absolute;
        content: "";
        width: 320px;
        height: 62px;
        top: 0;
        left: 0;
        background-size: contain;
        background-image: url(../img/bg-triangle-white-footer.svg);
        background-repeat: no-repeat;
    }
}

@media (max-width: 659px) {
    .contacts__map iframe {
        width: 320px;
        height: 199px;
    }
}

@media (min-width: 660px) {
    .contacts {
        width: 660px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contacts__title {
        width: 480px;
        padding: 0 90px;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 44px;
    }

    .contacts__item {
        margin: 0;
    }

    @media (max-width: 1199px) {
        .contacts__item:nth-child(4) {
            margin-top: 25px;
        }

        .contacts__item:nth-child(2) {
            padding-right: 20px;
        }

        .contacts__item:nth-child(3) {
            padding-left: 20px;
        }
    }

    .contacts__item-title {
        margin-bottom: 2px;
    }

    .contacts__map {
        margin-top: 8px;
        
        &::after {
            width: 660px;
            height: 68px;
        }
    }

    @media (max-width: 1199px) {
        .contacts__map iframe {
            width: 660px;
            height: 374px;
        }
    }
}

@media (min-width: 1200px) {
    .contacts {
        width: 1200px;
    }

    .contacts__title {
        width: 500px;
        padding: 0 350px;
        font-size: 50px;
        line-height: 59px;
        margin: 22px 0 55px 0;
    }

    .contacts__item:nth-child(3) {
        order: 3;
    }

    .contacts__item:nth-child(4) {
        order: 2;
        padding: 0 40px;
    }

    .contacts__map:nth-child(5) {
        order: 4;
    }

    .contacts__item-title {
        margin-bottom: 22px;
    }

    .contacts__map {
        margin-top: 0;
        
        &::after {
            width: 1200px;
            height: 124px;
        }
    }
}

/* Файл footer-page.less */

.footer-page {
    display: flex;
    justify-content: space-between;
    min-height: 127px;

    @media (max-width: 659px) {
        display: none;
    }
}

.footer-page__logo {
    position: relative;
    display: block;
    width: 147px;
    height: 41px;
    margin-top: 26px;
    margin-left: 20px;

    &::after {
        position: absolute;
        content: "";
        width: 147px;
        height: 41px;
        top: 0;
        left: 0;
        background-image: url(../img/logo-pink-blue-mobile.svg);
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
    .footer-page {
        min-height: 197px;
        width: 1200px;
        margin: 0 auto;
    }

    .footer-page__logo {
        margin-top: 60px;
        margin-left: 130px;
    }
}

/* Файл social.less */

.social {
    display: flex;
    margin-top: 30px;
    padding-right: 20px;

    @media (min-width: 1200px) {
        margin-top: 64px;
        padding-right: 0px;
        padding-left: 6px;
    }
}

.social__icon {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;

    &--twitter::after {
        position: absolute;
        content: "";
        width: 18px;
        height: 15px;
        top: 16px;
        left: 14px;
        background-image: url(../img/icon-twitter.svg);
        background-repeat: no-repeat;
    }

    &--fb {
        margin: 0 12px;

        &::after {
            position: absolute;
            content: "";
            width: 9px;
            height: 19px;
            top: 12px;
            left: 18px;
            background-image: url(../img/icon-facebook.svg);
            background-repeat: no-repeat;
        }
    }

    &--youtube::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 14px;
        top: 15px;
        left: 17px;
        background-image: url(../img/icon-youtube.svg);
        background-repeat: no-repeat;
    }
}

/* Файл creator.less */

.creator {
    margin-right: 20px;
    display: flex;

    @media (min-width: 1200px) {
        margin-top: 30px;
        margin-right: 128px;
    }
}

.creator__text {
    margin-top: 46px;
    font-size: 14px;
    margin-right: 15px;

    @media (min-width: 1200px) {
        font-size: 18px;
    }
}

.creator__logo {
    display: block;
    position: relative;
    width: 27px;
    height: 35px;
    margin-top: 41px;

    @media (min-width: 1200px) {
        margin-top: 45px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 27px;
        height: 35px;
        top: 0;
        left: 0;
        background-image: url(../img/logo-htmlacademy.svg);
        background-repeat: no-repeat;
    }
}














