.contacts {
    width: 100%;
    margin: 0 auto;
    padding-top: 44px;

    @media (min-width: 660px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contacts__wrapper {
    width: 100%
}

.contacts__wrapper-address {
    @media (min-width: 660px) and (max-width: 959px) {
        margin-top: 26px;
    }

    @media (max-width: 959px) {
        width: 100%
    }
}

.contacts__title {
    width: 240px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: 660px) {
        width: 480px;
        padding: 0 90px;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 44px;
    }

    @media (min-width: 960px) {
        width: 500px;
        padding: 0 230px;
        font-size: 50px;
        line-height: 59px;
        margin: 22px auto 55px auto;
    }
}

.contacts__item {
    width: 280px;
    margin: 0 auto;

    @media (min-width: 660px) {
        margin: 0;
    }

    @media (min-width: 660px) and (max-width: 959px) {
        &:nth-child(4) {
            margin-top: 25px;
        }

        &:nth-child(2) {
            padding-right: 20px;
        }

        &:nth-child(3) {
            padding-left: 20px;
        }

        &--address {
            margin: 0 auto;
        }
    }

    @media (min-width: 960px) {
        &:nth-child(3) {
            order: 3;
        }

        &:nth-child(4) {
            order: 2;
            padding: 0 40px;
        }
    }
}

.contacts__item-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 0;

    @media (min-width: 660px) {
        margin-bottom: 2px;
    }

    @media (min-width: 960px) {
        margin-bottom: 22px;
    }
}

.contacts__text {
    display: block;
    font-weight: 300;
    font-size: 24px;
    color: #d22856;
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: 960px) {
        line-height: 31px;
    }
}

.contacts__text--email:hover {
    color: #000000;
    text-decoration: underline;
}

.contacts__text--email:active {
    opacity: 0.3;
    text-decoration: none;
}

.contacts__map {
    position: relative;
    margin-top: 36px;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        width: 320px;
        height: 62px;
        top: 0;
        left: 50%;
        margin-left: -160px;
        background-size: contain;
        background-image: url(../img/bg-triangle-white-footer.svg);
        background-repeat: no-repeat;
    }

    @media (min-width: 660px) {
        margin-top: 8px;

        &::after {
            width: 660px;
            height: 68px;
            margin-left: -330px;
        }
    }

    @media (min-width: 960px) {
        margin-top: 0;

        &::after {
            width: 960px;
            height: 124px;
            margin-left: -480px;
        }

        &:nth-child(5) {
            order: 4;
        }
    }
}

.contacts__map iframe {
    width: 100%;

    @media (max-width: 659px) {
        height: 199px;
    }

    @media (min-width: 660px) {
        height: 374px;
    }

    @media (min-width: 960px) {
        height: 509px;
    }
}
