.form {
    @media (min-width: 660px) {
        display: flex;
        flex-wrap: wrap;
        width: 620px;
        margin: 0 auto;
    }

    @media (min-width: 960px) {
        width: 940px;
    }
}

.form__fieldset {
    width: 280px;
    margin: 0 auto;
    padding: 0;
    border: none;

    &--fio {
        margin-bottom: 22px;
    }

    &--contacts {
        margin-top: 33px;
        margin-bottom: 22px;
    }

    &--app {
        padding-bottom: 6px;
    }

    @media (min-width: 660px) {
        border: 2px solid #e5e5e5;
        width: 616px;

        &--fio {
            border: none;
            width: 620px;
            margin-bottom: 5px;
        }

        &--achieve {
            padding-bottom: 5px;
        }

        &--description {
            margin-top: 56px;
            order: 4;
        }

        &--contacts {
            order: 2;
            margin-top: 56px;
            padding-bottom: 30px;
        }

        &--app {
            width: 616px;
            padding-bottom: 18px;
        }
    }

    @media (min-width: 960px) {
        &--fio {
            width: 435px;
            margin: 0;
            margin-top: 15px;
            margin-right: 70px;
        }

        &--achieve {
            width: 936px;
        }

        &--description {
            width: 936px;
        }

        &--contacts {
            width: 936px;
            margin-top: 6px;
            padding-bottom: 19px;
        }

        &--app {
            width: 431px;
        }
    }
}

.form__label-input {
    width: 620px;
    padding-left: 23px;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;

    @media (min-width: 660px) {
        display: flex;
        padding-left: 0;

        .form__name {
            display: block;
            padding-top: 22px;
        }
    }

    @media (min-width: 960px) {
        width: 435px;
    }
}

.form__input {
    width: 256px;
    height: 59px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 20px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    color: #283645;
    border: 2px solid #e7e7e7;

    &:hover {
        border-color: #283645;
    }

    &:focus {
        border-color: #d22856;
        outline: none;
    }

    @media (min-width: 660px) {
        display: block;
        width: 100%;
        margin: 0 0 52px 18px;
    }
}

.form__wrapper-fieldset {
    @media (max-width: 659px) {
        background-color: #f2f2f2;
    }

    @media (min-width: 660px) {
        &--achieve {
            margin-top: 33px;
            order: 3;
        }

        &--app {
            order: 1;
        }
    }
}

.form__wrapper-achieve {
    @media (min-width: 960px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 936px;
        height: 171px;
        margin: 0 auto;
    }
}

.form__legend {
    width: 220px;
    margin: 0 auto;
    padding-top: 37px;
    font-size: 14px;
    color: #d22856;
    text-align: center;
    text-transform: uppercase;

    &--achieve {
        margin-bottom: 39px;
    }

    @media (min-width: 660px) {
        padding-top: 0;

        &--achieve {
            width: 430px;
        }

        &--description {
            width: 254px;
        }
    }

    @media (min-width: 960px) {
        &--achieve {
            margin-bottom: 45px;
        }
    }
}

.form__label-checkbox {
    display: flex;
    height: 39px;
    margin-bottom: 43px;

    @media (min-width: 660px) {
        margin-left: 58px;
        margin-top: 5px;
    }

    @media (min-width: 960px) {
        width: 260px;
        margin: 0;
        margin-bottom: 43px;
        margin-left: 20px;
    }
}

@media (min-width: 960px) {
    .form__label-checkbox:nth-child(1),
    .form__label-checkbox:nth-child(2) {
        margin-left: 58px;
    }

    .form__label-checkbox:nth-child(3),
    .form__label-checkbox:nth-child(4) {
        margin-left: 49px;
    }

    .form__label-checkbox:nth-child(5),
    .form__label-checkbox:nth-child(6) {
        margin-left: 27px;
    }
}

.form__checkbox {
    display: none;
}

.form__castom-checkbox {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    &:hover {
        border-color: #283645;
    }

    &:active {
        border-color: #d22856;
    }
}

.form__checkbox:checked + .form__castom-checkbox {
    background-image: url(../img/icon-yes.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form__text-checkbox {
    display: block;
    font-size: 18px;
    line-height: 39px;
    color: #283645;
    padding-left: 31px;

    @media (min-width: 660px) {
        padding-left: 20px;
    }
}

.form__legend--contacts {
    @media (max-width: 659px) {
        display: none;
    }

    width: 254px;
}

.form__label-input {
    @media (min-width: 660px) {
        &--contacts {
            position: relative;
            flex-direction: column-reverse;
            width: 500px;
            margin-left: 58px;
            margin-top: 27px;

            .form__name {
                padding-top: 15px;
                padding-left: 20px;
            }
        }

        &--number:after {
            position: absolute;
            content: "";
            width: 60px;
            height: 59px;
            top: 12px;
            right: 2px;;
            background-color: #e5e5e5;
            background-image: url("../img/icon-phone.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        &--mail:after {
            position: absolute;
            content: "";
            width: 60px;
            height: 59px;
            top: 12px;
            right: 2px;
            background-color: #e5e5e5;
            background-image: url("../img/icon-mail.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media (min-width: 960px) {
        &--contacts {
            width: 375px;
            margin-top: 24px;
        }

        &--mail {
            margin-left: 0;
        }

        &--number {
            margin-right: 70px;
        }
    }
}

.form__wrapper-contacts {
    @media (min-width: 960px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.form__input-contacts {
    width: 258px;
    height: 59px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    color: #283645;
    border: 2px solid #e7e7e7;

    &:hover {
        border-color: #283645;
    }

    &:focus {
        border-color: #d22856;
        outline: none;
    }

    @media (min-width: 660px) {
        width: 478px;
        margin-bottom: 0;
    }

    @media (min-width: 960px) {
        width: 353px;
    }
}

.form__legend--app {
    margin-bottom: 34px;

    @media (min-width: 660px) {
        width: 362px;
        margin-bottom: 44px;
    }

    @media (min-width: 960px) {
        margin-bottom: 47px;
    }
}

.form__label-radio {
    display: flex;
    margin-bottom: 36px;

    @media (min-width: 660px) {
        padding-left: 58px;
    }

    @media (min-width: 960px) {
        padding-left: 74px;
    }
}

.form__radio {
    display: none;
}

.form__castom-radio {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;

    &:hover {
        border-color: #283645;
    }

    &:active {
        border-color: #d22856;
    }
}

.form__text-radio {
    font-size: 18px;
    line-height: 39px;
    color: #283645;
    padding-left: 31px;

    @media (min-width: 660px) {
        padding-left: 20px;
    }
}

.form__radio:checked + .form__castom-radio::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
    background-color: #d22856;
    border-radius: 50%;
}

.form__textarea {
    resize: none;
    width: 256px;
    height: 183px;
    margin-top: 16px;
    padding-top: 14px;
    padding-left: 20px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    @media (min-width: 660px) {
        display: block;
        width: 476px;
        height: 173px;
        padding-left: 20px;
        margin: 37px auto 50px auto;
    }

    @media (min-width: 960px) {
        width: 796px;
        height: 110px;
        margin-top: 34px;
        margin-bottom: 41px;
    }
}

.form__wrapper-submit {
    width: 280px;
    margin: 42px auto;

    @media (min-width: 660px) {
        width: 620px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 68px;
        margin-bottom: 59px;
        order: 5;
    }

    @media (min-width: 960px) {
        width: 940px;
        margin-top: 65px;
        margin-bottom: 10px;
    }
}

.form__submit {
    width: 280px;
    height: 63px;
    font-size: 18px;
    line-height: 63px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #2aab6d;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #1c9b5e;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width: 660px) {
        width: 300px;
    }
}

.form__obligatory {
    margin-top: 39px;
    font-size: 14px;
    color: #283645;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 660px) {
        margin-left: auto;
        margin-top: 23px;
    }
}

.form__wrapper-span {
    color: #d22856;
}

.form__wrapper-text {
    @media (max-width: 959px) {
        display: none;
    }
}
